<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1 class="mb-3">
                <img src="/images/secure-icon.png" alt="icon" width="20%" />
            </h1>
            <h2>
                Login
            </h2>
            <%- include ("./messages") %>
            <form action="/auth/login" method="POST">
                <div class="form-group">
                    <label for="email" class="float-left"><strong>Email</strong></label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
                </div>
                <div class="form-group">
                    <label for="password" class="float-left"><strong>Password</strong></label>
                    <input type="password" id="password" name="password" class="form-control"
                        placeholder="Enter Password" />
                </div>
                <button type="submit" class="btn btn-success btn-block">Login</button>
            </form>
            <br>
            <a href="/auth/google" class="btn btn-danger btn-block mb-2">Google SignIn/ SignUp</a>
            <p class="mt-4">
                New User? <a href="/auth/register">Register</a>
            </p>
            <p>
                Forgot Password? <a href="/auth/forgot">Reset</a>
            </p>
        </div>
    </div>
</div>